{% extends 'base.html' %}

{% block title%}
doctors 
{%endblock%}

{% block content %}

<div class="container profile-container">
<h1 class="text-center mb-4">Doctors</h1>
<hr>

<div class="container text-center bg-light">
  <div class="row">
    {% for d in doctors %}
    <div class="col-md-3 mb-5">
      <div class="card text-center">
        <img src="{{ d.dep_image.url }}" class="card-img-top img-thumbnail rounded" alt="Profile Picture" style="width: 300px; height: 400px; object-fit: cover;" >
        <div class="card-body">
          <h5 class="card-title">Dr.{{ d.doc_name }}</h5>
          <p class="card-text">{{ d.doc_spec }}</p>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

{% endblock %}