{% extends 'base.html' %}

{% block title %}
Profile Details
{% endblock %}

{% block content %}
<div class="container form-container">
    <h1 class="text-center mb-4">Profile Details</h1>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3 profile-card">
                <div class="card-body text-center">
                    {% if user.profile %}
                        <img src="{{ user.profile.profile_pic.url }}" class="card-img-top img-thumbnail rounded" alt="Profile Picture" style="width: 250px; height: 200px; object-fit: cover;">
                    {% else %}
                        <p class="card-text">No profile picture available</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <ul class="list-group">
                <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ user.profile.email }}</li>
                <li class="list-group-item"><strong>First Name:</strong> {{ user.profile.first_name }}</li>
                <li class="list-group-item"><strong>Last Name:</strong> {{ user.profile.last_name }}</li>
                <li class="list-group-item"><strong>Phone Number:</strong> {{ user.profile.phone_number }}</li>
            </ul>
            <div class="text-center">
                <a href="{% url 'profile_update' %}" class="btn btn-primary update-button">Update Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
