{% extends 'admin/base.html' %}

{% block title %}
Users list
{% endblock %}

{% block content %}
<div class="container profile-container">
    <h1 class="text-center mb-4">Users list</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="list-group">
                {% for users in profile %}
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ forloop.counter }} </h5>
                        
                    </div>
                    <p class="mb-1"> Name: {{ users.user }}</p>
                    <p class="mb-1"> Phone Numbeder: {{ users.phone_number }}</p>
                    <p class="mb-1"> Email: {{ users.email }}</p>
                </div>
                {% empty %}
                <div class="list-group-item">
                    No users yet.
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <p>Total Users: {{ profile|length }}</p>
    </div>
</div>

{% endblock %}
