{% extends "admintemplate/base.html" %}

{% block title %}
Doctor | Detail
{% endblock title %}
{% block content %}
  <h1>Doctor Details</h1>
  <p><strong>Name:</strong> {{ doctor2.doc_name }}</p>
  <p><strong>Specialization:</strong> {{ doctor2.doc_spec }}</p>
  <p><strong>Department:</strong> {{ doctor2.dep_name }}</p>
  <p><strong>Image:</strong> <img src="{{ doctor2.dep_image.url }}" alt="Doctor2 Image" class="card-img-top img-thumbnail rounded" alt="Profile Picture" style="width: 300px; height: 400px; object-fit: cover;"></p>
  <a href="{% url 'doctor2_update' doctor2.pk %}" class="btn btn-warning">Edit</a>
  <a href="{% url 'doctor2_delete' doctor2.pk %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'doctor2_list' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}